* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

#navigation-bar {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  padding: 15px 15px 15px 15px;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
  justify-content: space-between;
  align-items: center;
}

.container-transparent {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 0;
  background-color: none;
  border: none;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 15px 15px 15px 15px;
  background-color: #fff;
  border: 2px solid #ddd;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  margin: 0;
}

h1 {
  font-size: 30px;
  color: #000;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  color: #000;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #444;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #ddd;
  cursor: pointer;
  background-color: #ddd;
  color: #000;
}

button:hover {
  background-color: #eee;
}

.column {
  flex: 1;
  padding-left: 30px;
  position: relative;
}

.column + .column::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #ddd;
}

.column:nth-child(1) {
  flex: 1;
}

.column:nth-child(2) {
  flex: 5;
}

.gamemode-list li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .container-transparent {
    width: 90%;
  }

  .container {
    width: 90%;
  }

  .column {
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container-transparent {
    width: 100%;
  }

  .container {
    width: 100%;
    border-left: none;
    border-right: none;
  }

  .column {
    padding-left: 10px;
  }
}

.board-info-bar {
  width: calc(var(--board-width) * 25px + 10px);
  height: 65px;
  background-color: #eee;
  border: 5px solid #777;
  margin-bottom: -5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  position: relative;
}

#status-button {
  padding: 0px 0px 5px 0px;
  border: none;
  font-size: 32px;
  cursor: pointer;
  background-color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board {
  display: inline-grid;
  grid-template-columns: repeat(var(--board-width), 25px);
  grid-template-rows: repeat(var(--board-height), 25px);
  background-color: #777;
  border: 5px solid #777;
  border-collapse: collapse;
}

.board > * {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border: 1px solid #aaa;
  box-sizing: border-box;
  user-select: none;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

.board > [data-status="hidden"] {
  background-color: #eee;
}

.board > [data-status="mine"] {
  background-color: #ccc;
}

.board > [data-status="revealed"] {
  background-color: #ccc;
}

.board > [data-status="flagged"] {
  background-color: #eee;
}

.board > [data-status="mine"]:after {
  content: "💀";
}

.board > [data-status="revealed"]:after {
  content: "";
}

.board > [data-status="flagged"]:after {
  content: "🚩";
}

.board > [data-status="flagged"][data-has-mine="true"]:after {
  content: "❌";
}

.red-x {
  position: absolute;
}