* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

#navigation-bar {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  padding: 15px 15px 15px 15px;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
  justify-content: space-between;
  align-items: center;
}

.container-transparent {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 0;
  background-color: none;
  border: none;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 30px 15px 30px 15px;
  background-color: #fff;
  border: 2px solid #ddd;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  margin: 0;
}

h1 {
  font-size: 30px;
  color: #000;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  color: #000;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  color: #444;
  margin-bottom: 40px;
  line-height: 1.5;
}

ul {
  font-size: 14px;
  color: #444;
}


table {
  border-collapse: collapse;
  margin-bottom: 40px;
  width: 400px;
  table-layout: fixed;
}

th {
  border: 1px solid #ddd;
  background-color: #eee;
  text-align: center;
  padding: 8px;

}

td {
  border: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
  padding: 8px;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #ddd;
  cursor: pointer;
  background-color: #ddd;
  color: #000;
}

button:hover {
  background-color: #eee;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 40px 30px 40px 30px;
  border: 2px solid #ddd;
  width: 60%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-list {
  padding: 5px;
  text-decoration: none;
  color: #333;
  font-size: 13px;
}

.column {
  flex: 1;
  padding-left: 30px;
  position: relative;
}

.column+.column::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #ddd;
}

.column:nth-child(1) {
  flex: 1;
}

.column:nth-child(2) {
  flex: 5;
}

.gamemode-list li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  .container-transparent {
    width: 90%;
  }

  .container {
    width: 90%;
  }

  .column {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .container-transparent {
    width: 100%; 
  }
  
  .gamemode-list {
    display: flex;
  }

  .gamemode-list li {
    margin-right: 50px;
  }

  .container {
    width: 100%;
    border-left: none;
    border-right: none;
    flex-direction: column;
  }

  .column {
    padding-left: 10px;
  }

  .column+.column::before {
    display: none;
  }
}

.board-info-bar {
  width: calc(var(--board-width) * 25px + 10px);
  height: 65px;
  background-color: #eee;
  border: 5px solid #777;
  margin-bottom: -5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  position: relative;
}

#status-button {
  padding: 0px 0px 5px 0px;
  border: none;
  font-size: 32px;
  cursor: pointer;
  background-color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board {
  display: inline-grid;
  grid-template-columns: repeat(var(--board-width), 25px);
  grid-template-rows: repeat(var(--board-height), 25px);
  background-color: #777;
  border: 5px solid #777;
  border-collapse: collapse;
}

.board>* {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border: 1px solid #aaa;
  box-sizing: border-box;
  user-select: none;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

.board>[data-status="hidden"] {
  background-color: #eee;
}

.board>[data-status="mine"] {
  background-color: #ccc;
}

.board>[data-status="revealed"] {
  background-color: #ccc;
}

.board>[data-status="flagged"] {
  background-color: #eee;
}

.board>[data-status="mine"]:after {
  content: "💣";
}

.board>[data-status="revealed"]:after {
  content: "";
}

.board>[data-status="flagged"]:after {
  content: "🚩";
}

.board>[data-status="flagged"][data-has-mine="true"]:after {
  content: "❌";
}

.red-x {
  position: absolute;
}



.board>[data-status="mine1"], .board>[data-status="mine2"], .board>[data-status="mine3"], .board>[data-status="mine4"] {
  background-color: #ccc;
  text-align: center;
  line-height: 20px;
}

.board>[data-status="flagged1"], .board>[data-status="flagged2"], .board>[data-status="flagged3"], .board>[data-status="flagged4"] {
  background-color: #eee;
  text-align: center;
  line-height: 15px;
}

.board>[data-status="mine1"]:after {
  content: "💣";
}

.board>[data-status="mine2"]:after {
  content: "💣💣";
  transform: scale(0.6, 0.6);
  white-space: nowrap;
  letter-spacing: -7px;
}

.board>[data-status="mine3"]:after {
  content: "💣\a💣💣";
  transform: scale(0.6, 0.6);
  white-space: pre;
  letter-spacing: -7px;
}

.board>[data-status="mine4"]:after {
  content: "💣💣\a💣💣";
  transform: scale(0.6, 0.6);
  white-space: pre;
  letter-spacing: -7px;
}

.board>[data-status="flagged1"]:after {
  content: "🚩";
}

.board>[data-status="flagged2"]:after {
  content: "🚩🚩";
  transform: scale(0.6, 1.0);
  white-space: nowrap;
  letter-spacing: -9px;
}

.board>[data-status="flagged3"]:after {
  content: "🚩\a🚩🚩";
  transform: scale(0.6, 0.6);
  white-space: pre;
  letter-spacing: -7px;
}

.board>[data-status="flagged4"]:after {
  content: "🚩🚩\a🚩🚩";
  transform: scale(0.6, 0.6);
  white-space: pre;
  letter-spacing: -9px;
}


.board>[data-status="neg-mine"] {
  background-color: #ccc;
}

.board>[data-status="neg-mine"]:after {
  content: "🕊️";
}

.board>[data-status="neg-flagged"] {
  background-color: #eee;
}

.board>[data-status="neg-flagged"]:after {
  content: "🏳️";
}